<!-- http://docs.oracle.com/javaee/1.4/tutorial/doc/JSPTags5.html -->
<!-- scriptless, not contains jsp scriptlets, expression, declaration -->
<%@ tag body-content="scriptless"%>

Header
<br />
<em><strong><jsp:doBody /></strong></em>
<br />