<?xml version="1.0" encoding="ISO-8859-1" ?>

<taglib xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/webjsptaglibrary_2_0.xsd"
	version="2.0">

	<tlib-version>1.2</tlib-version>
	<uri>simpleTags</uri>
	<tag>
		<description>simple tag</description>
		<name>simpleTag</name>
		<tag-class>com.example.web.SimpleTagHandler</tag-class>
		<body-content>empty</body-content>
	</tag>
	<tag>
		<description>simple tag with body</description>
		<name>simpleTagWithBody</name>
		<tag-class>com.example.web.SimpleTagHandler</tag-class>
		<body-content>scriptless</body-content>
	</tag>
	<tag>
		<description>simple tag with expression body</description>
		<name>simpleTagWithExpressionBody</name>
		<tag-class>com.example.web.SimpleTagHandler</tag-class>
		<body-content>scriptless</body-content>
	</tag>
	<tag>
		<description>simple tag with collection expression body</description>
		<name>simpleTagWithCollectionExpressionBody</name>
		<tag-class>com.example.web.SimpleTagHandler</tag-class>
		<body-content>scriptless</body-content>
	</tag>
	<tag>
		<description>simple tag with attribute</description>
		<name>simpleTagWithAttribute</name>
		<tag-class>com.example.web.SimpleTagHandler</tag-class>
		<body-content>scriptless</body-content>
		<attribute>
			<name>movieList</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<!-- default value -->
			<type>java.lang.String</type>
			<fragment>false</fragment>
		</attribute>
	</tag>
	<tag>
		<description>simple tag with dynamic attribute</description>
		<name>simpleTagWithDynamicAttribute</name>
		<tag-class>com.example.web.SimpleTagHandler</tag-class>
		<body-content>scriptless</body-content>
		<attribute>
			<name>movieList</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<!-- default value -->
			<type>java.lang.String</type>
			<fragment>false</fragment>
		</attribute>
		<dynamic-attributes>true</dynamic-attributes>
	</tag>
</taglib>